<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>Reach me via Email :
        </p>
        <a class="email-a" href="mailto:awanarbaaz@gmail.com">
            <p class="email">awanarbaaz@gmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/ArbaazAwan" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/arbaaz-awan/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/arbaaz_awan" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/Arbaazawan1" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>
