<div class="row wrapper">
  <div class="background"></div>
  <div class="pulsate">
    <div #elem class="parallax"></div>
  </div>
  <!-- <div class="shadow"></div> -->
  <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div>
  <div class="column-one">
    <p class="pre-name"><span role="img" aria-label="wave">👋</span>
      Hey! my
      name is</p>
    <div class="name">
      <p class="p-name">M. Arbaaz ul Rehman<span class="p-name2">.</span></p>
    </div>
    <div class="name">
      <p class="p-first">I'm a [fairly decent] human from Multan, Pakistan who loves problem solving.</p>
      <p class="p-first">an able, enthusiastic, skilled full stack developer with an extensive experience in Angular, NodeJS, ASP .NET Core and AWS.</p>
      <p class="p-second">I'm currently building awesome stuff at <a href="https://www.speridian.com/">Speridian
          Technologies</a>. you can
        find my <a href="https://drive.google.com/file/d/1WNbWFtE4qYXIkZx1K0dFYPrdTQEdEweC/view?usp=share_link">Resume
          here</a>.</p>
    </div>
  </div>
  <div class="column-two">
    <!-- <div #elem class="parallax"></div> -->
  </div>
</div>
